@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
.blue {
	font-family: 'Share Tech Mono', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: blue;
	text-align: center;
}
 p {
	font-family: 'Share Tech Mono', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 20px;
	color: black;
	text-align: left;
}	 
section {
	font-family: 'Share Tech Mono', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 20px;
	color: black;
	text-align: left;
}
.adapta {
	font-family: 'Share Tech Mono', -apple-system, BlinkMacSystemFont, "Segoe UI", 
	              Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 20px;
	color: black;
	text-align: left;
	margin-bottom: 30px;
}
body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: 'Share Tech Mono', -apple-system, BlinkMacSystemFont, "Segoe UI", 
	             Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
a:visited {
	color: rgb(0,80,160);
}
label {
	display: block;
}
input, select, textarea {
	font-family: inherit;
	font-size: 20px;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
input:disabled {
	color: #ccc;
}

@keyframes fadeIn { 
		from { opacity: 0; } 
	}
.breaker01 {
	animation: fadeIn 3s infinite alternate;
	animation-delay: 0s;
	
}  
.breaker02 {
	animation: fadeIn 3s infinite alternate;
	animation-delay: 1s;
} 
.breaker03 {
	animation: fadeIn 3s infinite alternate;
	animation-delay: 2s;
}
.breaker04 {
	animation: fadeIn 3s infinite alternate;
	animation-delay: 3s;
}
.breakDance {
	background-color: white;
	margin: 0 auto;
    display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 50vw;
}

@media only screen and (max-width: 600px) {
p {font-size: 4.5vw;
}
.blue {font-size: 4.5vw;
}
.loco {font-size: 4.5vw;
}
}

input{
	width: 30%;
	height: 10%;
	border-radius:6px; 
	font-family: 'Share Tech Mono', -apple-system, BlinkMacSystemFont, "Segoe UI", 
			 Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 4.5vw;  
}

@media only screen and (max-width: 600px) {
input{
	width: 90%;
	height: 25%;
	border-radius:6px; 
	font-family: 'Share Tech Mono', -apple-system, BlinkMacSystemFont, "Segoe UI", 
				Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 5vw;  
	}
}

form{
	width: 33%;
	margin: 0 auto;
	text-align: center;     
	color: black;  
}

@media only screen and (max-width: 600px) {
	form{
		width: 100%;
		margin: 0 auto;
		text-align: center;     
		color: black;  
	}
	}